.satu{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-left: 20px;
    display: inline-block;
}
.dua{
    width: 150px;
    height: 150px;
    background-color: brown;
    display: inline-block;
    margin: -30px;
}
.tiga{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin-top: -50px;
}